<a href="https://colab.research.google.com/github/AlexisMunera98/IA-BigData-Aplicacion-en-negocios/blob/master/EjercicioDF.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# -*- coding: utf-8 -*-
import pandas as pd
import numpy as np
'''
Origen de los Datos:
- La población, el pibpc (PIB Per Cápita), las medallas de oro plata y bronce extraídos de Kaggle
- Los datos de deportistas (tamaño de la delegación) y el pibpc de Venezuela extraídos de Wikipedia
'''
# Diccionario
data = {
'pais':['Argentina','Bolivia','Brasil','Chile','Colombia','Ecuador','Guyana','Paraguay','Peru','Surinam','Uruguay','Venezuela'],
'poblacion':[43416755,10724705,207847528,17948141,48228704,16144363,767085,6639123,31376670,542975,3431555,31108083],
'pibpc':[13432,3078,8539,13416,6056,6205,4127,4081,6027,9485,15574,11051],
'deportistas':[215,12,465,42,148,38,6,11,29,3,17,86],
'oro':[3,0,7,0,3,0,0,0,0,0,0,0],
'plata':[1,0,6,0,2,0,0,0,0,0,0,1],
'bronce':[0,0,6,0,3,0,0,0,0,0,0,2]}
# DataFrame
df = pd.DataFrame(data)

In [2]:
df

         pais  poblacion  pibpc  deportistas  oro  plata  bronce
0   Argentina   43416755  13432          215    3      1       0
1     Bolivia   10724705   3078           12    0      0       0
2      Brasil  207847528   8539          465    7      6       6
3       Chile   17948141  13416           42    0      0       0
4    Colombia   48228704   6056          148    3      2       3
5     Ecuador   16144363   6205           38    0      0       0
6      Guyana     767085   4127            6    0      0       0
7    Paraguay    6639123   4081           11    0      0       0
8        Peru   31376670   6027           29    0      0       0
9     Surinam     542975   9485            3    0      0       0
10    Uruguay    3431555  15574           17    0      0       0
11  Venezuela   31108083  11051           86    0      1       2

In [3]:
# Colombia

col = df[df.pais == 'Colombia']
print(col)

       pais  poblacion  pibpc  deportistas  oro  plata  bronce
4  Colombia   48228704   6056          148    3      2       3

In [4]:
print(df[df.pais == 'Colombia']['oro'])

4    3
Name: oro, dtype: int64

In [7]:
tg = df[['pais', 'oro', 'plata', 'bronce']].sort_values(['oro', 'plata', 'bronce'], ascending=False)
tg

         pais  oro  plata  bronce
2      Brasil    7      6       6
4    Colombia    3      2       3
0   Argentina    3      1       0
11  Venezuela    0      1       2
1     Bolivia    0      0       0
3       Chile    0      0       0
5     Ecuador    0      0       0
6      Guyana    0      0       0
7    Paraguay    0      0       0
8        Peru    0      0       0
9     Surinam    0      0       0
10    Uruguay    0      0       0